parameters:

services:
    - RomanPiller\Console\Application

    # commands
    - RomanPiller\Console\Commands\SudokuCommand

    # facades
    - RomanPiller\Console\Facades\SudokuFacade

extensions:
  sudoku: RomanPiller\Sudoku\Config\Extension
